@import "mixins";

/* Hide some Drupal elements */
/* Error / Warning messages */
#messages{
	display: none !important;
}
/* Content types tabs */
.tabs{
	display: none !important;
}
/* Create Artículo */
.text-summary-wrapper.text-summary-wrapper-processed{
	display: none !important;
}

#page, #main-wrapper{
	background: #fff !important;
}

#header{
	display: block;
	position: relative;
	background-color: #fff !important;
	text-align: center;
}

#name-and-slogan{
	display: inline-block;
    margin: 0;
    padding: 0;
	text-align: center;
	#site-name strong a span{		
    	margin: 0;
    	padding: 0;
		font-family: Lato, Helvetica !important;	
		font-weight: bold;
		font-style: normal;
		font-size: 54px;
		color: #00694c !important;
	}
	#site-slogan{
		margin: 18px 0 -15px;
		font-family: Lato, Helvetica !important;	
		font-weight: 400;
	    font-style: normal;
	    font-size: 16px;
	    color: #666a69;
	}
	#site-description{
    	margin: -15px 0 18px;
		padding: 0;
		float: right;
		font-family: Lato, Helvetica !important;	
		font-weight: 400;
	    font-style: normal;
	    font-size: 19px;
	    color: #666a69;
	    text-transform: uppercase;
	}
}


#nav-bar{
	display: block;
    position: relative;
    background-color: #00694c;
    width: 100%;
    height: 65px;
    padding: 0;
    margin: 0;
    text-align: center;
}

#main-menu{
	display: inline-block;
	position: relative;
    width: auto;
	margin: 0;    
    padding: 0;
}

.social-networks{
	display: inline-block;
    position: absolute;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    right: 25px;
    top: 80px;
	.social-network{		
	    display: block;
	    position: relative;
	    float: left;
	    width: 25px;
	    height: 25px;
	    margin: 8px;
	    padding: 0px;
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position: center;
	    cursor: pointer;
		&.facebook{
			background-image: url("../../images/facebook.png");
		}
		&.twitter{
			background-image: url("../../images/twitter.png");
		}
		&.youtube{
			background-image: url("../../images/youtube.png");
		}
	}
}

/* Menú */
#main-menu-links{
	li{
		margin: 0 !important;
		padding: 0 !important;
		a{
			height: 57px;
    		padding: 7px 15px 0;
			background-image: none;
			border-radius: 0;
			border: none;
			font-family: Lato, Helvetica;
			font-size: 20px;
			font-weight: 200;		
			text-shadow: none;
			text-decoration: none;
			color: #fff;
			@include transition(all, 1s, ease-in-out, 0.5s);			
		}
	}
}

#main-menu-links li a.active, #main-menu-links li.active-trail a{
	background: none;
	/*border-radius: 0;
	border-top: solid 1px white;
	border-bottom: solid 1px white;*/
	background-image: url('../../images/menu-mask.png');
}

#main-menu-links a:hover,
#main-menu-links a:focus,
#main-menu-links a.active:hover{
    background-image: url('../../images/menu-mask-hover.png');
}

/* Side Bar */
#sidebar-first{
	display: none;
}

/* Page Content */
#main-wrapper{
	width: 960px;
    margin: 0 auto;
}

#main{
    height: auto;
    min-height: 225px;
    overflow: hidden;
}

/* Slider */
.content{
	width: 960px;
}

#block-recent-articles-slider-articles{
	width: 960px;
}
.recent_slider, .recent_slide, .recent_slide_background{
	width: 900px;
	height: 330px;
	margin: 0 auto;
}

.recent_slide_background{
	position: relative;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #c5c5c5;
}

.recent_slide_info{
    position: absolute;
    width: 100%;
	height: 100%;
    bottom: 0;
	background-image: url('../../images/menu-mask-slide.png');
	p{		
		display: block;
		position: relative;
		width: auto;
		height: auto;
		max-width: 405px;
		font-family: Roboto, Helvetica, sans-serif;
		font-style: italic;
		color: #f4f4f4;	
    	text-shadow: 2px 2px 7px #000000;
    	/*border: solid 1px red;*/
	}
}

.slide_title{
    max-height: 105px;
    margin: 115px 0 0 80px;
	font-size: 35px;
}

.slide_description{
    max-height: 66px;
    margin: 20px 0 0 80px;
	font-size: 15px;
}

/* Sección Poderes */

.poderes_section{
	display: block;
	position: relative;
	width: 860px;
    height: 225px;
    margin: 0 auto;    
    /*border: solid;*/

	.poderes_title{
		display: block;
		position: relative;
		width: 380px;
	    height: 40px;
	    margin: 0 auto;
	    padding: 0;
	    background-color: #00694c;	    
	    text-align: center;	    
	}

	p{
		display: block;
		position: relative;
	    font-family: Roboto, Helvetica, sans-serif;
	    font-size: 24px;
	    font-weight: 200;
	    color: #fff;
	}

	.poderes_container{
		display: block;
		position: relative;
		width: auto;
	    height: 160px;
	    margin: 25px 0 0;
	    bottom: 0;	    	    
	    background-color: #e5e1e1;	    
	    overflow: hidden;
	    /*border: solid 1px red;*/
		.poderes_content{
			display: block;
			position: relative;
			float: left;
    		width: 265px;
    		max-height: 145px;
    		margin: 15px 10px 0;
    		cursor: pointer;
			.poderes_content_title{
				display: block;
				position: relative;    
			    margin: 0 0 7px;
			    font-family: Lato, Helvetica, sans-serif;    
			    font-size: 22px;
			    text-align: center;
			    text-transform: capitalize;
			    color: #353333;
			}
			.poderes_content_image{
				display: block;
				position: relative;				
			    float: left;
				width: 125px;
			    height: 95px;
			    margin: 0 12px 0 0;
			}
			.poderes_content_description{
				display: block;
				position: relative;				
			    float: left;
			    width: 125px;			    
			    font-family: Lato;
			    font-size: 13px;
			    color: #353333;
			    /*border: solid 1px blue;*/
			}
		}
	}
}

/* Sección Regiones */

.regiones_section{
	display: block;
	position: relative;
	width: 860px;
    height: 225px;
    margin: 30px auto 0;   
    /*border: solid;*/

	.regiones_title{
		display: block;
		position: relative;
		width: 380px;
	    height: 40px;
	    margin: 0 auto;
	    padding: 0;
	    background-color: #00694c;	    
	    text-align: center;	    
	}
	p{
		display: block;
		position: relative;
	    font-family: Roboto, Helvetica, sans-serif;
	    font-size: 24px;
	    font-weight: 200;
	    color: #fff;
	}

	.regiones_container{
		display: block;
		position: relative;
		width: auto;
	    height: 160px;
	    margin: 25px 0 0;
	    bottom: 0;	    	    
	    /*background-color: #e5e1e1;	    */
	    overflow: hidden;
	    /*border: solid 1px red;*/
		.regiones_content{
			display: block;
			position: relative;
			float: left;
    		width: auto;
    		max-height: auto;
    		margin: 15px 10px 0;
    		cursor: pointer;
			.regiones_content_title{
				display: block;
				position: relative;    
			    margin: 0 0 7px;
			    font-family: Lato, Helvetica, sans-serif;    
			    font-size: 22px;
			    text-align: center;
			    text-transform: capitalize;
			    color: #353333;
			}
			.regiones_content_image{
				display: block;
				position: relative;				
			    float: left;
				width: 115px;
			    height: 85px;
			    margin: 0 12px 0 0;
			}
			.regiones_content_description{
				display: block;
				position: relative;				
			    float: left;
			    width: 85px;			    
			    font-family: Lato;
			    font-size: 13px;
			    color: #353333;
			    /*border: solid 1px blue;*/
			}
		}
	}
}

.regiones_slider, .regiones_slide{ /* , .regiones_slide_background{ */
	width: 900px;
	height: 330px;
	margin: 0 auto;
}

.regiones_slide{
    position: relative;
    width: 235px;
    height: 150px;
    background-color: #e5e1e1;
}
