@import "mixins";

/* Hide some Drupal elements */
/* Error / Warning messages */
#messages{
	display: none !important;
}
/* Content types tabs */
.tabs{
	/*display: none !important;*/
}
/* Create Artículo */
.text-summary-wrapper.text-summary-wrapper-processed{
	display: none !important;
}

#page, #main-wrapper{
	background: #fff !important;
}

.breadcrumb{
	display: none;
}
#page-title{
	display: none;
}

#header{
	display: block;
	position: relative;
	background-color: #fff !important;
	text-align: center;
}

#name-and-slogan{
	display: inline-block;
    margin: 0;
    padding: 0;
	text-align: center;
	#site-name strong a span{		
    	margin: 0;
    	padding: 0;
		font-family: Lato, Helvetica !important;	
		font-weight: bold;
		font-style: normal;
		font-size: 54px;
		color: #00694c !important;
	}
	#site-slogan{
		margin: 18px 0 -15px;
		font-family: Lato, Helvetica !important;	
		font-weight: 400;
	    font-style: normal;
	    font-size: 16px;
	    color: #666a69;
	}
	#site-description{
    	margin: -15px 0 18px;
		padding: 0;
		float: right;
		font-family: Lato, Helvetica !important;	
		font-weight: 400;
	    font-style: normal;
	    font-size: 19px;
	    color: #666a69;
	    text-transform: uppercase;
	}
}


#nav-bar{
	display: block;
    position: relative;
    background-color: #00694c;
    width: 100%;
    height: 65px;
    padding: 0;
    margin: 0;
    text-align: center;
}

#main-menu{
	display: inline-block;
	position: relative;
    width: auto;
	margin: 0;    
    padding: 0;
}

.social-networks{
	display: inline-block;
    position: absolute;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    right: 25px;
    top: 80px;
	.social-network{		
	    display: block;
	    position: relative;
	    float: left;
	    width: 25px;
	    height: 25px;
	    margin: 8px;
	    padding: 0px;
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position: center;
	    cursor: pointer;
		&.facebook{
			background-image: url("../../images/facebook.png");
		}
		&.twitter{
			background-image: url("../../images/twitter.png");
		}
		&.youtube{
			background-image: url("../../images/youtube.png");
		}
	}
}

/* Menú */
#main-menu-links{
	li{
		margin: 0 !important;
		padding: 0 !important;
		a{
			height: 57px;
    		padding: 7px 15px 0;
			background-image: none;
			border-radius: 0;
			border: none;
			font-family: Lato, Helvetica;
			font-size: 20px;
			font-weight: 200;		
			text-shadow: none;
			text-decoration: none;
			color: #fff;
			@include transition(all, 1s, ease-in-out, 0.5s);			
		}
	}
}

#main-menu-links li a.active, #main-menu-links li.active-trail a{
	background: none;
	/*border-radius: 0;
	border-top: solid 1px white;
	border-bottom: solid 1px white;*/
	background-image: url('../../images/menu-mask.png');
}

#main-menu-links a:hover,
#main-menu-links a:focus,
#main-menu-links a.active:hover{
    background-image: url('../../images/menu-mask-hover.png');
}

/* Side Bar */
#sidebar-first{
	display: none;
}

/* Page Content */
#main-wrapper{
	width: 960px;
    margin: 0 auto;
}

#main{
    height: auto;
    min-height: 225px;
    overflow: hidden;
}

/* Slider */
.content{
	width: 960px;
}

#block-recent-articles-slider-articles{
	width: 960px;
}
.recent_slider, .recent_slide, .recent_slide_background{
	width: 900px;
	height: 330px;
	margin: 0 auto;
}

.recent_slide_background{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #c5c5c5;
}

.recent_slide_info{
    position: absolute;
    width: 100%;
	height: 100%;
    bottom: 0;
	background-image: url('../../images/menu-mask-slide.png');
	p{		
		display: block;
		position: relative;
		width: auto;
		height: auto;
		max-width: 405px;
		font-family: Roboto, Helvetica, sans-serif;
		font-style: italic;
		color: #f4f4f4;	
    	text-shadow: 2px 2px 7px #000000;
    	/*border: solid 1px red;*/
	}
}

.slide_title{
    max-height: 105px;
    margin: 115px 0 0 80px;
	font-size: 35px;
}

.slide_description{
    max-height: 66px;
    margin: 20px 0 0 80px;
	font-size: 15px;
}

/* Sección Poderes */

.poderes_section{
	display: block;
	position: relative;
	width: 860px;
    height: 225px;
    margin: 0 auto;    
    /*border: solid;*/

	.poderes_title{
		display: block;
		position: relative;
		width: 380px;
	    height: 40px;
	    margin: 0 auto;
	    padding: 0;
	    background-color: #00694c;	    
	    text-align: center;	    
	}

	p{
		display: block;
		position: relative;
	    font-family: Roboto, Helvetica, sans-serif;
	    font-size: 24px;
	    font-weight: 200;
	    color: #fff;
	}

	.poderes_container{
		display: block;
		position: relative;
		width: auto;
	    height: 160px;
	    margin: 25px 0 0;
	    bottom: 0;	    	    
	    background-color: #e5e1e1;	    
	    overflow: hidden;
	    /*border: solid 1px red;*/
		.poderes_content{
			display: block;
			position: relative;
			float: left;
    		width: 265px;
    		max-height: 145px;
    		margin: 15px 10px 0;
    		cursor: pointer;
			.poderes_content_title{
				display: block;
				position: relative;    
			    margin: 0 0 7px;
			    font-family: Lato, Helvetica, sans-serif;    
			    font-size: 22px;
			    text-align: center;
			    text-transform: capitalize;
			    color: #353333;
			}
			.poderes_content_image{
				display: block;
				position: relative;				
			    float: left;
				width: 125px;
			    height: 95px;
			    margin: 0 12px 0 0;
			}
			.poderes_content_description{
				display: block;
				position: relative;				
			    float: left;
			    width: 125px;			    
			    font-family: Lato;
			    font-size: 13px;
			    color: #353333;
			    /*border: solid 1px blue;*/
			}
		}
	}
}

/* Sección Regiones */

#block-regiones-section-articles{
	width: 960px;
}

.regiones_section{
	display: block;
	position: relative;
	width: 860px;
    height: 225px;
    margin: 30px auto 0;   
    /*border: solid;*/

	.regiones_title{
		display: block;
		position: relative;
		width: 380px;
	    height: 40px;
	    margin: 0 auto;
	    padding: 0;
	    background-color: #00694c;	    
	    text-align: center;	    
	}
	p{
		display: block;
		position: relative;
	    font-family: Roboto, Helvetica, sans-serif;
	    font-size: 24px;
	    font-weight: 200;
	    color: #fff;
	}

	.regiones_container{
		display: block;
		position: relative;
		width: auto;
	    height: 160px;
	    margin: 25px 0 0;
	    bottom: 0;	    	    
	    /*background-color: #e5e1e1;	    */
	    /*overflow: hidden;*/
	    /*border: solid 1px red;*/
		.regiones_content{
			display: block;
			position: relative;
			float: left;
    		width: auto;
    		max-height: auto;
    		margin: 15px 10px 0;
    		cursor: pointer;
			.regiones_content_title{
				display: block;
				position: relative;    
			    margin: 0 0 7px;
			    font-family: Lato, Helvetica, sans-serif;    
			    font-size: 22px;
			    text-align: center;
			    text-transform: capitalize;
			    color: #353333;
			}
			.regiones_content_image{
				display: block;
				position: relative;				
			    float: left;
				width: 115px;
			    height: 85px;
			    margin: 0 12px 0 0;
			}
			.regiones_content_description{
				display: block;
				position: relative;				
			    float: left;
			    width: 85px;			    
			    font-family: Lato;
			    font-size: 13px;
			    color: #353333;
			    /*border: solid 1px blue;*/
			}
		}
	}
}

.regiones_slider, .regiones_slide{ /* , .regiones_slide_background{ */
	width: 860px;
	height: 156px;
	margin: 0 auto;
}

.regiones_slider{
	.slick-prev{
		left: -25px;
		margin: -15px 0 0;
	}
	.regiones_slide{
	    position: relative;
	    width: 235px;
	    height: 150px;
	    background-color: #e5e1e1;
	}
	.slick-next{		
		right: -25px;
		margin: -15px 0 0;
	}
}

/* Sección Destacados */

.destacados_section{
	display: block;
	position: relative;
	float: left;
    width: 410px;
    height: 470px;
    margin: 35px auto 0;
    /*background-color: gray;  */
    /*border: solid;*/

	.destacados_title{
		display: block;
		position: relative;
		width: 380px;
	    height: 40px;
	    margin: 0 auto;
	    padding: 0;
	    /*background-color: #00694c;	    */
	    text-align: center;	    
	}
	p{
		display: block;
		position: relative;
		margin: 0;
	    font-family: Roboto, Helvetica, sans-serif;
	    font-size: 24px;
	    font-weight: 200;
	    color: #353333;
	}

	.destacados_container{
		display: block;
		position: relative;
		width: 410px;
	    height: 410px;
	    margin: 20px 0 0;
	    bottom: 0;	    	    
	    background-color: #e5e1e1;	    
	    /*overflow: hidden;*/
	    /*border: solid 1px red;*/
		.destacados_content{
			display: block;
			position: relative;
			float: left;
    		width: auto;
    		max-height: none;
    		margin: 15px 10px 0;
    		cursor: pointer;
			.destacados_content_title{
				display: block;
				position: relative;    
			    margin: 0 0 7px 20px;
			    font-family: Lato, Helvetica, sans-serif;    
			    font-size: 16px;
			    text-align: left;
			    text-transform: capitalize;
			    color: #353333;
			}
			.destacados_content_image{
				display: block;
				position: relative;				
			    float: left;
				width: 130px;
			    height: 75px;
			    margin: 0 8px 0 20px;
			}
			.destacados_content_description{
				display: block;
				position: relative;				
			    float: left;
			    width: 225px;
			    height: 75px;			    
			    font-family: Lato;
			    font-size: 14px;
			    color: #353333;
			    /*border: solid 1px blue;*/
			}
			.destacados_content_separator{
				clear: both;			    
			    width: 60%;
			    height: 0px;
			    margin: 0 auto;
			    padding: 10px 0 0;
			    border-bottom: #bbbbbb solid 1px;
			}
		}
	}
}


/* Publicidad Vertical */
.publicidad_vertical_container{
	display: block;
    position: relative;
    float: right;
    width: 400px;
    height: 320px; 
    margin: 112px 0 0 30px;
    padding: 30px 0;
    background-color: #ecebeb;
    text-align: center;
    .publicidad_vertical_text{
    	display: block;
	    position: relative;	    
	    width: 100%;
	    margin: 125px 0 0;
	    padding: 0;
	    font-family: Lato, Helvetica, sans-serif;
	    font-size: 40px;
	    color: #9f9f9f;
    }
}


/* Twitter */
.twitter_container{
	display: block;
    position: relative;
    clear: both;
    float: right;
    width: 335px;
    height: 320px; 
    margin: 100px 30px 0;
    padding: 30px 0;
    background-color: #ecebeb;
    text-align: center;
    .twitter_text{
    	display: block;
	    position: relative;	    
	    width: 100%;
	    margin: 125px 0 0;
	    padding: 0;
	    font-family: Lato, Helvetica, sans-serif;
	    font-size: 40px;
	    color: #9f9f9f;
    }
}

/* Publicidad Horizontal */
#block-publicidad-horizontal-articles{
	clear: both;
    width: 930px;
    padding: 70px 0 0;
    /*border: solid;*/
	.content{
	    width: 925px;
	    margin: 0 auto;
    	/*border: solid red;*/
		.publicidad_horizontal_container{
			display: block;
		    position: relative;
		    clear: both;
		    width: 100%;
		    height: 115px;    
		    margin: 0;
		    padding: 0;
		    background-color: #ecebeb;
		    text-align: center;
		    .publicidad_horizontal_text{
		    	display: block;
			    position: relative;	    
			    width: 100%;
			    margin: 0;
			    padding: 30px 0 0;
			    font-family: Lato, Helvetica, sans-serif;
			    font-size: 40px;
			    color: #9f9f9f;
		    }
		}
	}
}

/* Sección Miscelaneas */

.miscelaneas_section{
	display: block;
	position: relative;
	float: left;
    width: 410px;
    height: 450px;
    margin: 70px 0 0;
    background-color: #e5e1e1;
    /*border: solid;*/

	.miscelaneas_title{
		display: block;
		position: relative;
		width: 380px;
	    height: 40px;
	    margin: 20px auto;
	    padding: 0;
	    text-align: center;	    
	}
	p{
		display: block;
		position: relative;
		margin: 0;
	    font-family: Roboto, Helvetica, sans-serif;
	    font-size: 24px;
	    font-weight: 200;
	    color: #353333;
	}

	.miscelaneas_container{
		display: block;
		position: relative;
		width: 410px;
	    height: 368px;
	    margin: 5px 0 0;
	    bottom: 0;	    	    
	    background-color: #e5e1e1;
	    /*border: solid 1px red;*/
		.miscelaneas_content{
			display: block;
			position: relative;
			float: left;
    		width: auto;
    		max-height: none;
    		margin: 0 10px;
    		cursor: pointer;			
			.miscelaneas_content_image{
				display: block;
				position: relative;				
			    float: left;
				width: 150px;
    			height: 110px;
			    margin: 0 0 0 15px;
			}
			.miscelaneas_content_info{
				display: block;
			    position: relative;
			    float: right;
			    width: 175px;	
			    max-height: 110px;		    
			    margin-left: 10px;
			    /*border: solid 1px red;*/
				.miscelaneas_content_title{
					display: block;
					position: relative;				    
				    margin: 0 0 7px 10px;
				    font-family: Lato, Helvetica, sans-serif;    
				    font-size: 16px;
				    font-weight: bold;
				    text-align: left;
				    text-transform: capitalize;
				    color: #353333;
				}
				.miscelaneas_content_description{
					display: block;
					position: relative;				
				    float: left;
				    width: 225px;
				    font-family: Lato, Helvetica, sans-serif;
				    font-size: 14px;
				    color: #353333;
				    /*border: solid 1px blue;*/
				}
			}
		}		
		.miscelaneas_content_separator{
			clear: both;			    
		    width: 60%;
		    height: 0px;
		    margin: 0 0 30px 135px;
			padding: 30px 0 0;
		    border-bottom: #bbbbbb solid 1px;
		}
		.miscelaneas_content_see_more{
			display: block;
		    position: relative;
		    clear: both;
		    float: right;
		    margin: -15px 45px 0 0;
		    font-family: Lato, Helvetica, sans-serif;
		    font-size: 16px;
		    font-weight: bold;
    		text-decoration: none;		    
		    color: #353333;
		}
	}
}

/* Slider Deportes*/

#block-deportes-section-articles{
	clear: both;
	width: 930px;
    margin: 0 auto;
    padding: 60px 0 0;
    .content{
    	width: 930px;
    }
}
.deportes_title{
	p{    				
	    margin: 0 0 20px 0;
		font-family: Roboto, Helvetica, sans-serif;
	    font-size: 24px;
	    font-weight: 200;
	    color: #353333;
	    text-align: center;
	}
}
.deportes_slider, .deportes_slide, .deportes_slide_background{
	width: 850px;
	height: 330px;
	margin: 0 auto;
}

.deportes_slide_background{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #c5c5c5;
}

.deportes_slider{
	.slick-prev{
		left: -35px;
	}
	.slick-next{
		right: -35px;
	}
}

.deportes_slide_info{
    position: absolute;
    width: 100%;
	height: 28%;	
    bottom: 0;
    background-image: url("../../images/menu-mask.png");
	p{		
		display: block;
		position: relative;
		width: auto;
		height: auto;
		max-width: none;
		font-family: Roboto, Helvetica, sans-serif;
		font-style: italic;
		color: #f4f4f4;	
    	text-shadow: 2px 2px 7px #000000;
    	/*border: solid 1px red;*/
	}
}

.deportes_slide_title{
	float: right;
	width: 100%;
    max-width: 800px;
    max-height: 50px;
   	margin: -25px 50px 0 0;
    font-size: 32px;    
    text-align: right;
}

.deportes_slide_description{
	clear: both;
    width: 100%;
    max-width: 850px;
    max-height: 50px;
    margin: 0;
    padding: 0;	 
    font-size: 13px;
    text-align: center;
}

/* Opinion Section */

#block-opiniones-section-articles{
	clear: both;    
    width: 960px;
    height: 695px;
    margin: 0 auto;
    padding: 70px 0 0;
    .content{
    	width: 930px;
    	margin: 0 auto;
    	.opiniones_section{
    		.opiniones_title{
    			p{    				
				    margin: 0;
    				font-family: Roboto, Helvetica, sans-serif;
				    font-size: 24px;
				    font-weight: 200;
				    color: #353333;
				    text-align: center;
    			}
    		}
    		.opiniones_container{
    			.opiniones_fix_container{
    				.opiniones_fix_link{
    					text-decoration: none;
    					color: #353333;    				
	    				.opiniones_fix_section{
						    min-height: 110px;
						    margin: 20px auto;
	    					background-color: #ecebeb;
	    					img.opiniones_fix_image{
	    						display: block;
							    position: relative;
							    float: left;
							    width: 70px;
							    height: 70px;
							    margin: 20px 0 0 20px;
	    					}
	    					.opiniones_fix_info{
	    						display: block;
							    position: relative;
							    float: left;
							    margin: 20px 20px 0;
							    max-width: 790px;
							    max-height: 85px;
							    /*border: solid;*/
							    .opiniones_fix_title{
							    	font-family: Lato, Helvetica, sans-serif;
								    font-size: 18px;
								    font-weight: normal;
							    }
							    .opiniones_fix_description{
							    	font-family: Lato, Helvetica, sans-serif;
								    font-size: 14px;
								    font-weight: 300;
							    }
	    					}
	    				}
	    			}
    			}
    		}
    	}
    }
}

/* Opiniones Slider */

.opiniones_section{
	display: block;
	position: relative;
	width: 860px;
    height: 225px;
    margin: 0 auto;   
    /*border: solid;*/

	.opiniones_title{
		display: block;
		position: relative;
		width: 380px;
	    height: 40px;
	    margin: 0 auto;
	    padding: 0;
	    /*background-color: #00694c;	    */
	    text-align: center;	    
	}
	p{
		display: block;
		position: relative;
	    font-family: Roboto, Helvetica, sans-serif;
	    font-size: 24px;
	    font-weight: 200;
	    color: #353333;
	}

	.opiniones_container{
		display: block;
		position: relative;
		width: auto;
	    height: 160px;
	    margin: 25px 0 0;
	    bottom: 0;	    	    
	    /*background-color: #e5e1e1;	    */
	    /*overflow: hidden;*/
	    /*border: solid 1px red;*/
		.opiniones_content{
			display: block;
			position: relative;
			clear: both;
    		width: auto;
    		max-height: none;
    		margin: 15px 10px 0;
    		cursor: pointer;
			.opiniones_content_image{
				display: block;
				position: relative;				
			    float: left;
				width: 60px;
			    height: 60px;
			    margin: 0 12px 0 0;
			}
    		opiniones_content_info{
    			display: block;
    			position: relative;
    			float: left;
    			.opiniones_content_title{
					display: block;
					position: relative;    
				    margin: 0 0 7px;
				    font-family: Lato, Helvetica, sans-serif;    
				    font-size: 22px;
				    text-align: center;
				    text-transform: capitalize;
				    color: #353333;
				}
				.opiniones_content_description{
					display: block;
					position: relative;				
				    float: left;
				    width: 85px;			    
				    font-family: Lato;
				    font-size: 13px;
				    color: #353333;
				    /*border: solid 1px blue;*/
				}
    		}
		}
	}
}

.opiniones_slider, .opiniones_slide{ /* , .opiniones_slide_background{ */
	width: 761px;
	height: 201px;
	margin: 30px auto;
}

.opiniones_slider{
	.slick-prev{
		left: -37px;
		margin: 0;
	}
	.opiniones_slide{
	    position: relative;
	    width: 365px;
	    height: 200px;
	    margin: 0 15px;
	    background-color: #e5e1e1;
	    .opiniones_wrapper{
	    	.opiniones_link{
	    		text-decoration: none;
	    		.opiniones_content{
	    			clear: both;
				    display: inline-block;
				    width: 90%;
	    			margin: 25px 0 0 25px;
	    			.opiniones_content_image{}
	    			.opiniones_content_info{
	    				float: left;
						max-width: 245px;
						max-height: 60px;
						/*border: solid;*/
	    				.opiniones_content_title{
	    					font-size: 15px;
	    				}
	    				.opiniones_content_description{
	    					font-size: 13px;
	    				}
	    			}

	    		}
	    	}
	    }
	}
	.slick-next{		
		right: -34px;
		margin: 0;
	}
	
}

/* Footer */
#footer{
	border: none;
    overflow: hidden;
}
.footer_wrapper{ 
	display: block;
	position: relative;
	margin: -15px 0 0;
	.footer_container{ 
		display: block;
		position: relative;

		.footer_content{ 
			display: block;
			position: relative;

			.footer_row{ 
				display: block;
				position: relative;
				clear: both;
    			padding: 0 0 20px 0;
    			border-bottom: gray solid 1px;
    			text-align: center;
    			&.links{
    				border: none;
    				.footer_column{
    					margin: 30px 60px;
    				}
    			}
    			&.data{
    				.data_container{
    					display: block;
    					position: relative;
    					margin: 0 auto;
				        width: 385px;
					    height: 55px;
					    padding: 40px 0 0;
    				}
    			}
    			&.rights{
    				border: none;
    				padding: 30px 0 0;
    				.rights_container{
    					display: block;
    					position: relative;
    					width: 500px;    
    					height: 20px;
    					margin: 0 auto;
    					p, a{
	    					float: left;
    						font-size: 14px;
    					}
	    				.footer_column_link{
	    					margin: 0 5px;
	    					cursor: pointer;
	    				}
	    				.footer_column_separator{
	    					margin: 0;
	    				}
	    				.footer_column_title{
	    					margin: 0 20px;
	    				}
	    			}
    			}
				.footer_title{ 
					display: block;
					position: relative;
					font-family: Lato, Helvetica, sans-serif;
				    font-size: 18px;
				    text-align: center;

				}
				.footer_social_networks{
					display: block;
					position: relative;
					margin: 0 auto;
					width: 300px;
					height: 40px;
					.footer_social_network{ 
						display: block;
						position: relative;
						float: left;
	    				margin: 0 30px;
	    				cursor: pointer;
					}
				}
				.footer_column{ 
					display: block;
					position: relative;
					float: left;
				    margin: 30px;
				    &.email{
				    	display: block;
				    	position: relative;
				    }
				    &.phone{
				    	display: block;
				    	position: relative;
				    }
				}
				.footer_column_title{ 
					display: block;
					position: relative;

				}
				.footer_column_links{ 
					display: block;
					position: relative;
					font-family: Lato, Helvetica, sans-serif;
				    font-size: 16px;
				}
				.footer_column_link{ 
					display: block;
					position: relative;
				    font-family: Lato, Helvetica, sans-serif;
				    font-size: 13px;
				    font-weight: lighter;

				}
				.footer_email{
					display: block;
					position: relative;
					float: left;
				}
				.footer_column_email{
					display: block;
					position: relative;
				    float: left;
				    margin: 0 10px;
				    font-size: 18px;
				}
				.footer_phone{
					display: block;
					position: relative;
					float: left;
				}
				.footer_column_phone{
					display: block;
					position: relative;
					position: relative;
				    float: left;
				    margin: 0 10px;
				    font-size: 18px;
				}
			}
		}
	}
}




