/* line 3, ../sass/article.scss */
.article_cover_container {
  display: block;
  position: relative;
  width: 750px;
  height: 330px;
  background-size: cover;
  background-position: center;
  background-color: #ccc;
}
/* line 12, ../sass/article.scss */
.article_cover_container .article_cover_content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../images/menu-mask-slide.png");
}
/* line 18, ../sass/article.scss */
.article_cover_container .article_cover_content .article_cover_title {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  margin: 0 0 0 45px;
  padding: 135px 0 0;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  text-shadow: 2px 2px 2px #353333;
}
/* line 32, ../sass/article.scss */
.article_cover_container .article_cover_content .article_cover_description {
  display: block;
  position: relative;
  width: 330px;
  height: auto;
  margin: 20px 0 0 65px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  text-shadow: 2px 2px 2px #353333;
}

/* line 48, ../sass/article.scss */
.article_social_buttons {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  min-height: 50px;
  margin: 25px 0 0;
  background-color: #ececeb;
}
/* line 56, ../sass/article.scss */
.article_social_buttons p {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
}

/* line 64, ../sass/article.scss */
.article_container {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  min-height: 50px;
  margin: 25px 0 0;
  background-color: #ececeb;
}
/* line 72, ../sass/article.scss */
.article_container p {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
}

/* line 80, ../sass/article.scss */
.article_adds {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  min-height: 50px;
  margin: 25px 0 0;
  background-color: #ececeb;
}
/* line 88, ../sass/article.scss */
.article_adds p {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
}

/* line 96, ../sass/article.scss */
.article_images_gallery {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  min-height: 50px;
  margin: 25px 0 0;
  background-color: #ececeb;
}
/* line 104, ../sass/article.scss */
.article_images_gallery p {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
}

/* line 112, ../sass/article.scss */
.article_releated_notes {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  min-height: 50px;
  margin: 25px 0 0;
  background-color: #ececeb;
}
/* line 120, ../sass/article.scss */
.article_releated_notes p {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
}

/* line 128, ../sass/article.scss */
.article_comments {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  min-height: 50px;
  margin: 25px 0 0;
  background-color: #ececeb;
}
/* line 136, ../sass/article.scss */
.article_comments p {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
}

/* line 144, ../sass/article.scss */
.article_comment_form {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  min-height: 50px;
  margin: 25px 0 0;
  background-color: #ececeb;
}
/* line 152, ../sass/article.scss */
.article_comment_form p {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
}

/* line 160, ../sass/article.scss */
.service-links .item-list ul {
  list-style-type: none;
}
