@charset "UTF-8";
/* Hide some Drupal elements */
/* Error / Warning messages */
/* line 5, ../sass/main.scss */
#messages {
  display: none !important;
}

/* line 8, ../sass/main.scss */
.messages.error {
  display: none !important;
}

/* Content types tabs */
/* line 12, ../sass/main.scss */
.tabs {
  /*display: none !important;*/
}

/* Create Artículo */
/* line 16, ../sass/main.scss */
.text-summary-wrapper.text-summary-wrapper-processed {
  display: none !important;
}

/* line 20, ../sass/main.scss */
#page, #main-wrapper {
  background: #fff !important;
}

/* line 24, ../sass/main.scss */
.breadcrumb {
  display: none;
}

/* line 27, ../sass/main.scss */
#page-title {
  display: none;
}

/* line 31, ../sass/main.scss */
#header {
  display: block;
  position: relative;
  background-color: #fff !important;
  text-align: center;
}

/* line 38, ../sass/main.scss */
#name-and-slogan {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 43, ../sass/main.scss */
#name-and-slogan #site-name strong a span {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica !important;
  font-weight: bold;
  font-style: normal;
  font-size: 54px;
  color: #00694c !important;
}
/* line 52, ../sass/main.scss */
#name-and-slogan #site-slogan {
  margin: 18px 0 -15px;
  font-family: Lato, Helvetica !important;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #666a69;
}
/* line 60, ../sass/main.scss */
#name-and-slogan #site-description {
  margin: -15px 0 18px;
  padding: 0;
  float: right;
  font-family: Lato, Helvetica !important;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  color: #666a69;
  text-transform: uppercase;
}

/* line 74, ../sass/main.scss */
#nav-bar {
  display: block;
  position: relative;
  background-color: #00694c;
  width: 100%;
  height: 65px;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* line 85, ../sass/main.scss */
#main-menu {
  display: inline-block;
  position: relative;
  width: auto;
  margin: 0;
  padding: 0;
}

/* line 93, ../sass/main.scss */
.social-networks {
  display: inline-block;
  position: absolute;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  right: 25px;
  top: 80px;
}
/* line 102, ../sass/main.scss */
.social-networks .social-network {
  display: block;
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  margin: 8px;
  padding: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
/* line 114, ../sass/main.scss */
.social-networks .social-network.facebook {
  background-image: url("../../images/facebook.png");
}
/* line 117, ../sass/main.scss */
.social-networks .social-network.twitter {
  background-image: url("../../images/twitter.png");
}
/* line 120, ../sass/main.scss */
.social-networks .social-network.youtube {
  background-image: url("../../images/youtube.png");
}

/* Menú */
/* line 128, ../sass/main.scss */
#main-menu-links li {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 131, ../sass/main.scss */
#main-menu-links li a {
  height: 57px;
  padding: 7px 15px 0;
  background-image: none;
  border-radius: 0;
  border: none;
  font-family: Lato, Helvetica;
  font-size: 20px;
  font-weight: 200;
  text-shadow: none;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 1s ease-in-out 0.5s;
  -moz-transition: all 1s ease-in-out 0.5s;
  -ms-transition: all 1s ease-in-out 0.5s;
  -o-transition: all 1s ease-in-out 0.5s;
  transition: all 1s ease-in-out 0.5s;
}

/* line 148, ../sass/main.scss */
#main-menu-links li a.active, #main-menu-links li.active-trail a {
  background: none;
  /*border-radius: 0;
  border-top: solid 1px white;
  border-bottom: solid 1px white;*/
  background-image: url("../../images/menu-mask.png");
}

/* line 156, ../sass/main.scss */
#main-menu-links a:hover,
#main-menu-links a:focus,
#main-menu-links a.active:hover {
  background-image: url("../../images/menu-mask-hover.png");
}

/* Side Bar */
/* line 163, ../sass/main.scss */
#sidebar-first {
  display: none;
}

/* Page Content */
/* line 168, ../sass/main.scss */
#main-wrapper {
  width: 960px;
  margin: 0 auto;
}

/* line 173, ../sass/main.scss */
#main {
  height: auto;
  min-height: 225px;
  overflow: hidden;
}

/* Slider */
/* line 180, ../sass/main.scss */
.content {
  width: 960px;
}

/* line 184, ../sass/main.scss */
#block-recent-articles-slider-articles {
  width: 960px;
}

/* line 187, ../sass/main.scss */
.recent_slider {
  display: none;
}

/* line 190, ../sass/main.scss */
.recent_slider, .recent_slide, .recent_slide_background {
  width: 900px;
  height: 330px;
  margin: 0 auto;
}

/* line 196, ../sass/main.scss */
.recent_slide_background {
  position: relative;
  background-color: #c5c5c5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 204, ../sass/main.scss */
.recent_slide_info {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../../images/menu-mask-slide-2.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  overflow: hidden;
}
/* line 212, ../sass/main.scss */
.recent_slide_info p {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  font-family: robotoItalic, Helvetica, sans-serif;
  color: #f4f4f4;
  text-shadow: 2px 2px 7px #000;
  /*border: solid 1px;*/
}
/* line 221, ../sass/main.scss */
.recent_slide_info p.slide_title {
  max-width: 725px;
  max-height: 110px;
  margin: 0 0 0 80px;
  font-size: 42px;
}
/* line 227, ../sass/main.scss */
.recent_slide_info p.slide_description {
  max-width: 625px;
  max-height: 70px;
  margin: 20px 0 0 105px;
  font-size: 16px;
}
/* line 234, ../sass/main.scss */
.recent_slide_info .recent_slide_wrapper {
  position: absolute;
  max-height: 205px;
  bottom: 85px;
}

/* Sección Poderes */
/* line 247, ../sass/main.scss */
.poderes_section {
  display: block;
  position: relative;
  width: 860px;
  height: 225px;
  margin: 0 auto;
}
/* line 253, ../sass/main.scss */
.poderes_section .poderes_title {
  display: block;
  position: relative;
  width: 375px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  background-color: #00694c;
  text-align: center;
}
/* line 262, ../sass/main.scss */
.poderes_section .poderes_title p {
  padding: 2px;
}
/* line 266, ../sass/main.scss */
.poderes_section p {
  display: block;
  position: relative;
  font-family: robotoCondesedRegular, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
}
/* line 274, ../sass/main.scss */
.poderes_section .poderes_container {
  display: block;
  position: relative;
  width: 100%;
  height: 155px;
  margin: 25px 0 0;
  bottom: 0;
  background-color: #e5e1e1;
  overflow: hidden;
}
/* line 283, ../sass/main.scss */
.poderes_section .poderes_container .poderes_content {
  display: block;
  position: relative;
  float: left;
  width: 265px;
  max-height: 141px;
  margin: 5px 10px 0;
  cursor: pointer;
}
/* line 291, ../sass/main.scss */
.poderes_section .poderes_container .poderes_content .poderes_content_title {
  display: block;
  position: relative;
  margin: 0 0 8px;
  font-family: robotoCondesedRegular, Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #353333;
}
/* line 301, ../sass/main.scss */
.poderes_section .poderes_container .poderes_content .poderes_content_image {
  display: block;
  position: relative;
  float: left;
  width: 125px;
  height: 100px;
  margin: 0 12px 0 0;
}
/* line 309, ../sass/main.scss */
.poderes_section .poderes_container .poderes_content .poderes_content_description {
  display: block;
  position: relative;
  float: left;
  max-width: 125px;
  max-height: 90px;
  font-family: robotoCondesedRegular, Helvetica, sans-serif;
  font-size: 13px;
  color: #353333;
  /*border: solid 1px blue;*/
}

/* Sección Regiones */
/* line 326, ../sass/main.scss */
#block-regiones-section-articles {
  width: 960px;
}

/* line 330, ../sass/main.scss */
.regiones_section {
  display: block;
  position: relative;
  width: 860px;
  height: 225px;
  margin: 30px auto 0;
  /*border: solid;*/
}
/* line 338, ../sass/main.scss */
.regiones_section .regiones_title {
  display: block;
  position: relative;
  width: 380px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  background-color: #00694c;
  text-align: center;
}
/* line 348, ../sass/main.scss */
.regiones_section p {
  display: block;
  position: relative;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
}
/* line 357, ../sass/main.scss */
.regiones_section .regiones_container {
  display: block;
  position: relative;
  width: auto;
  height: 160px;
  margin: 25px 0 0;
  bottom: 0;
  /*background-color: #e5e1e1;	    */
  /*overflow: hidden;*/
  /*border: solid 1px red;*/
}
/* line 367, ../sass/main.scss */
.regiones_section .regiones_container .regiones_content {
  display: block;
  position: relative;
  float: left;
  width: auto;
  max-height: auto;
  margin: 15px 10px 0;
  cursor: pointer;
}
/* line 375, ../sass/main.scss */
.regiones_section .regiones_container .regiones_content .regiones_content_title {
  display: block;
  position: relative;
  margin: 0 0 7px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #353333;
}
/* line 385, ../sass/main.scss */
.regiones_section .regiones_container .regiones_content .regiones_content_image {
  display: block;
  position: relative;
  float: left;
  width: 115px;
  height: 85px;
  margin: 0 12px 0 0;
}
/* line 393, ../sass/main.scss */
.regiones_section .regiones_container .regiones_content .regiones_content_description {
  display: block;
  position: relative;
  float: left;
  width: 85px;
  font-family: Lato;
  font-size: 13px;
  color: #353333;
  /*border: solid 1px blue;*/
}

/* line 407, ../sass/main.scss */
.regiones_slider, .regiones_slide {
  /* , .regiones_slide_background{ */
  width: 860px;
  height: 156px;
  margin: 0 auto;
}

/* line 414, ../sass/main.scss */
.regiones_slider .slick-prev {
  left: -25px;
  margin: -15px 0 0;
}
/* line 418, ../sass/main.scss */
.regiones_slider .regiones_slide {
  position: relative;
  width: 235px;
  height: 150px;
  background-color: #e5e1e1;
}
/* line 424, ../sass/main.scss */
.regiones_slider .slick-next {
  right: -25px;
  margin: -15px 0 0;
}

/* Sección Destacados */
/* line 432, ../sass/main.scss */
.destacados_section {
  display: block;
  position: relative;
  float: left;
  width: 410px;
  height: 470px;
  margin: 35px 0 0 68px;
  /*background-color: gray;  */
  /*border: solid;*/
}
/* line 442, ../sass/main.scss */
.destacados_section .destacados_title {
  display: block;
  position: relative;
  width: 380px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  /*background-color: #00694c;	    */
  text-align: center;
}
/* line 452, ../sass/main.scss */
.destacados_section p {
  display: block;
  position: relative;
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #353333;
}
/* line 462, ../sass/main.scss */
.destacados_section .destacados_container {
  display: block;
  position: relative;
  width: 406px;
  height: 401px;
  margin: 20px 0 0;
  bottom: 0;
  background-color: #e5e1e1;
  /*overflow: hidden;*/
  /*border: solid 1px red;*/
}
/* line 472, ../sass/main.scss */
.destacados_section .destacados_container .destacados_content {
  display: block;
  position: relative;
  float: left;
  width: auto;
  max-height: none;
  margin: 13px 10px 0;
  cursor: pointer;
}
/* line 480, ../sass/main.scss */
.destacados_section .destacados_container .destacados_content .destacados_content_title {
  display: block;
  position: relative;
  margin: 0 0 10px 20px;
  font-family: robotoCondesedRegular, Helvetica, sans-serif;
  font-size: 16px;
  text-align: left;
  text-transform: capitalize;
  color: #353333;
}
/* line 490, ../sass/main.scss */
.destacados_section .destacados_container .destacados_content .destacados_content_image {
  display: block;
  position: relative;
  float: left;
  width: 130px;
  height: 73px;
  margin: 0 8px 0 20px;
}
/* line 498, ../sass/main.scss */
.destacados_section .destacados_container .destacados_content .destacados_content_description {
  display: block;
  position: relative;
  float: left;
  width: 225px;
  height: 75px;
  font-family: robotoCondesedRegular, Helvetica, sans-serif;
  font-size: 14px;
  color: #353333;
  /*border: solid 1px blue;*/
}
/* line 509, ../sass/main.scss */
.destacados_section .destacados_container .destacados_content .destacados_content_separator {
  clear: both;
  width: 60%;
  height: 0px;
  margin: 0 auto;
  padding: 10px 0 0;
  border-bottom: #bbbbbb solid 1px;
}

/* Publicidad Vertical */
/* line 523, ../sass/main.scss */
.publicidad_vertical_container {
  display: block;
  position: relative;
  float: right;
  width: 331px;
  height: 331px;
  margin: 115px 68px 0 0;
  /*padding: 30px 0;*/
  background-color: #ecebeb;
  text-align: center;
}
/* line 533, ../sass/main.scss */
.publicidad_vertical_container .publicidad_vertical_text {
  display: block;
  position: relative;
  width: 100%;
  margin: 125px 0 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 40px;
  color: #9f9f9f;
}

/* Twitter */
/* line 547, ../sass/main.scss */
.twitter_container {
  display: block;
  position: relative;
  clear: both;
  float: right;
  width: 335px;
  height: 320px;
  margin: 100px 30px 0;
  padding: 30px 0;
  background-color: #ecebeb;
  text-align: center;
}
/* line 558, ../sass/main.scss */
.twitter_container .twitter_text {
  display: block;
  position: relative;
  width: 100%;
  margin: 125px 0 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 40px;
  color: #9f9f9f;
}

/* Publicidad Horizontal */
/* line 571, ../sass/main.scss */
#block-publicidad-horizontal-articles {
  clear: both;
  width: 930px;
  padding: 70px 0 0;
  /*border: solid;*/
}
/* line 576, ../sass/main.scss */
#block-publicidad-horizontal-articles .content {
  width: 925px;
  margin: 0 auto;
  /*border: solid red;*/
}
/* line 580, ../sass/main.scss */
#block-publicidad-horizontal-articles .content .publicidad_horizontal_container {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  height: 115px;
  margin: 0;
  padding: 0;
  background-color: #ecebeb;
  text-align: center;
}
/* line 590, ../sass/main.scss */
#block-publicidad-horizontal-articles .content .publicidad_horizontal_container .publicidad_horizontal_text {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 30px 0 0;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 40px;
  color: #9f9f9f;
}

/* Sección Miscelaneas */
/* line 606, ../sass/main.scss */
.miscelaneas_section {
  display: block;
  position: relative;
  float: left;
  width: 410px;
  height: 450px;
  margin: 70px 0 0;
  background-color: #e5e1e1;
  /*border: solid;*/
}
/* line 616, ../sass/main.scss */
.miscelaneas_section .miscelaneas_title {
  display: block;
  position: relative;
  width: 380px;
  height: 40px;
  margin: 20px auto;
  padding: 0;
  text-align: center;
}
/* line 625, ../sass/main.scss */
.miscelaneas_section p {
  display: block;
  position: relative;
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #353333;
}
/* line 635, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container {
  display: block;
  position: relative;
  width: 410px;
  height: 368px;
  margin: 5px 0 0;
  bottom: 0;
  background-color: #e5e1e1;
  /*border: solid 1px red;*/
}
/* line 644, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content {
  display: block;
  position: relative;
  float: left;
  width: auto;
  max-height: none;
  margin: 0 10px;
  cursor: pointer;
}
/* line 652, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content .miscelaneas_content_image {
  display: block;
  position: relative;
  float: left;
  width: 150px;
  height: 110px;
  margin: 0 0 0 15px;
}
/* line 660, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content .miscelaneas_content_info {
  display: block;
  position: relative;
  float: right;
  width: 175px;
  max-height: 110px;
  margin-left: 10px;
  /*border: solid 1px red;*/
}
/* line 668, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content .miscelaneas_content_info .miscelaneas_content_title {
  display: block;
  position: relative;
  margin: 0 0 7px 10px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  color: #353333;
}
/* line 679, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content .miscelaneas_content_info .miscelaneas_content_description {
  display: block;
  position: relative;
  float: left;
  width: 225px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 14px;
  color: #353333;
  /*border: solid 1px blue;*/
}
/* line 691, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content_separator {
  clear: both;
  width: 60%;
  height: 0px;
  margin: 0 0 30px 135px;
  padding: 30px 0 0;
  border-bottom: #bbbbbb solid 1px;
}
/* line 699, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content_see_more {
  display: block;
  position: relative;
  clear: both;
  float: right;
  margin: -15px 45px 0 0;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #353333;
}

/* Slider Deportes*/
/* line 716, ../sass/main.scss */
#block-deportes-section-articles {
  clear: both;
  width: 930px;
  margin: 0 auto;
  padding: 60px 0 0;
}
/* line 721, ../sass/main.scss */
#block-deportes-section-articles .content {
  width: 930px;
}

/* line 726, ../sass/main.scss */
.deportes_title p {
  margin: 0 0 20px 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #353333;
  text-align: center;
}

/* line 735, ../sass/main.scss */
.deportes_slider, .deportes_slide, .deportes_slide_background {
  width: 850px;
  height: 330px;
  margin: 0 auto;
}

/* line 741, ../sass/main.scss */
.deportes_slide_background {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c5c5c5;
}

/* line 750, ../sass/main.scss */
.deportes_slider .slick-prev {
  left: -35px;
}
/* line 753, ../sass/main.scss */
.deportes_slider .slick-next {
  right: -35px;
}

/* line 758, ../sass/main.scss */
.deportes_slide_info {
  position: absolute;
  width: 100%;
  height: 28%;
  bottom: 0;
  background-image: url("../../images/menu-mask.png");
}
/* line 764, ../sass/main.scss */
.deportes_slide_info p {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  font-family: Roboto, Helvetica, sans-serif;
  font-style: italic;
  color: #f4f4f4;
  text-shadow: 2px 2px 7px #000000;
  /*border: solid 1px red;*/
}

/* line 778, ../sass/main.scss */
.deportes_slide_title {
  float: right;
  width: 100%;
  max-width: 800px;
  max-height: 50px;
  margin: -25px 50px 0 0;
  font-size: 32px;
  text-align: right;
}

/* line 788, ../sass/main.scss */
.deportes_slide_description {
  clear: both;
  width: 100%;
  max-width: 850px;
  max-height: 50px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  text-align: center;
}

/* Opinion Section */
/* line 801, ../sass/main.scss */
#block-opiniones-section-articles {
  clear: both;
  width: 960px;
  height: 695px;
  margin: 0 auto;
  padding: 70px 0 0;
}
/* line 807, ../sass/main.scss */
#block-opiniones-section-articles .content {
  width: 930px;
  margin: 0 auto;
}
/* line 812, ../sass/main.scss */
#block-opiniones-section-articles .content .opiniones_section .opiniones_title p {
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #353333;
  text-align: center;
}
/* line 823, ../sass/main.scss */
#block-opiniones-section-articles .content .opiniones_section .opiniones_container .opiniones_fix_container .opiniones_fix_link {
  text-decoration: none;
  color: #353333;
}
/* line 826, ../sass/main.scss */
#block-opiniones-section-articles .content .opiniones_section .opiniones_container .opiniones_fix_container .opiniones_fix_link .opiniones_fix_section {
  min-height: 110px;
  margin: 20px auto;
  background-color: #ecebeb;
}
/* line 830, ../sass/main.scss */
#block-opiniones-section-articles .content .opiniones_section .opiniones_container .opiniones_fix_container .opiniones_fix_link .opiniones_fix_section img.opiniones_fix_image {
  display: block;
  position: relative;
  float: left;
  width: 70px;
  height: 70px;
  margin: 20px 0 0 20px;
}
/* line 838, ../sass/main.scss */
#block-opiniones-section-articles .content .opiniones_section .opiniones_container .opiniones_fix_container .opiniones_fix_link .opiniones_fix_section .opiniones_fix_info {
  display: block;
  position: relative;
  float: left;
  margin: 20px 20px 0;
  max-width: 790px;
  max-height: 85px;
  /*border: solid;*/
}
/* line 846, ../sass/main.scss */
#block-opiniones-section-articles .content .opiniones_section .opiniones_container .opiniones_fix_container .opiniones_fix_link .opiniones_fix_section .opiniones_fix_info .opiniones_fix_title {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
}
/* line 851, ../sass/main.scss */
#block-opiniones-section-articles .content .opiniones_section .opiniones_container .opiniones_fix_container .opiniones_fix_link .opiniones_fix_section .opiniones_fix_info .opiniones_fix_description {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

/* Opiniones Slider */
/* line 867, ../sass/main.scss */
.opiniones_section {
  display: block;
  position: relative;
  width: 860px;
  height: 225px;
  margin: 0 auto;
  /*border: solid;*/
}
/* line 875, ../sass/main.scss */
.opiniones_section .opiniones_title {
  display: block;
  position: relative;
  width: 380px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  /*background-color: #00694c;	    */
  text-align: center;
}
/* line 885, ../sass/main.scss */
.opiniones_section p {
  display: block;
  position: relative;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #353333;
}
/* line 894, ../sass/main.scss */
.opiniones_section .opiniones_container {
  display: block;
  position: relative;
  width: auto;
  height: 160px;
  margin: 25px 0 0;
  bottom: 0;
  /*background-color: #e5e1e1;	    */
  /*overflow: hidden;*/
  /*border: solid 1px red;*/
}
/* line 904, ../sass/main.scss */
.opiniones_section .opiniones_container .opiniones_content {
  display: block;
  position: relative;
  clear: both;
  width: auto;
  max-height: none;
  margin: 15px 10px 0;
  cursor: pointer;
}
/* line 912, ../sass/main.scss */
.opiniones_section .opiniones_container .opiniones_content .opiniones_content_image {
  display: block;
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  margin: 0 12px 0 0;
}
/* line 920, ../sass/main.scss */
.opiniones_section .opiniones_container .opiniones_content opiniones_content_info {
  display: block;
  position: relative;
  float: left;
}
/* line 924, ../sass/main.scss */
.opiniones_section .opiniones_container .opiniones_content opiniones_content_info .opiniones_content_title {
  display: block;
  position: relative;
  margin: 0 0 7px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #353333;
}
/* line 934, ../sass/main.scss */
.opiniones_section .opiniones_container .opiniones_content opiniones_content_info .opiniones_content_description {
  display: block;
  position: relative;
  float: left;
  width: 85px;
  font-family: Lato;
  font-size: 13px;
  color: #353333;
  /*border: solid 1px blue;*/
}

/* line 949, ../sass/main.scss */
.opiniones_slider, .opiniones_slide {
  /* , .opiniones_slide_background{ */
  width: 761px;
  height: 201px;
  margin: 30px auto;
}

/* line 956, ../sass/main.scss */
.opiniones_slider .slick-prev {
  left: -37px;
  margin: 0;
}
/* line 960, ../sass/main.scss */
.opiniones_slider .opiniones_slide {
  position: relative;
  width: 365px;
  height: 200px;
  margin: 0 15px;
  background-color: #e5e1e1;
}
/* line 967, ../sass/main.scss */
.opiniones_slider .opiniones_slide .opiniones_wrapper .opiniones_link {
  text-decoration: none;
}
/* line 969, ../sass/main.scss */
.opiniones_slider .opiniones_slide .opiniones_wrapper .opiniones_link .opiniones_content {
  clear: both;
  display: inline-block;
  width: 90%;
  margin: 25px 0 0 25px;
}
/* line 975, ../sass/main.scss */
.opiniones_slider .opiniones_slide .opiniones_wrapper .opiniones_link .opiniones_content .opiniones_content_info {
  float: left;
  max-width: 245px;
  max-height: 60px;
  /*border: solid;*/
}
/* line 980, ../sass/main.scss */
.opiniones_slider .opiniones_slide .opiniones_wrapper .opiniones_link .opiniones_content .opiniones_content_info .opiniones_content_title {
  font-size: 15px;
}
/* line 983, ../sass/main.scss */
.opiniones_slider .opiniones_slide .opiniones_wrapper .opiniones_link .opiniones_content .opiniones_content_info .opiniones_content_description {
  font-size: 13px;
}
/* line 992, ../sass/main.scss */
.opiniones_slider .slick-next {
  right: -34px;
  margin: 0;
}

/* Footer */
/* line 1000, ../sass/main.scss */
#footer {
  border: none;
  overflow: hidden;
}

/* line 1004, ../sass/main.scss */
.footer_wrapper {
  display: block;
  position: relative;
  margin: -15px 0 0;
}
/* line 1008, ../sass/main.scss */
.footer_wrapper .footer_container {
  display: block;
  position: relative;
}
/* line 1012, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content {
  display: block;
  position: relative;
}
/* line 1016, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row {
  display: block;
  position: relative;
  clear: both;
  padding: 0 0 20px 0;
  border-bottom: gray solid 1px;
  text-align: center;
}
/* line 1023, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row.links {
  border: none;
}
/* line 1025, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row.links .footer_column {
  margin: 30px 60px;
}
/* line 1030, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row.data .data_container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 385px;
  height: 55px;
  padding: 40px 0 0;
}
/* line 1039, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row.rights {
  border: none;
  padding: 30px 0 0;
}
/* line 1042, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row.rights .rights_container {
  display: block;
  position: relative;
  width: 500px;
  height: 20px;
  margin: 0 auto;
}
/* line 1048, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row.rights .rights_container p, .footer_wrapper .footer_container .footer_content .footer_row.rights .rights_container a {
  float: left;
  font-size: 14px;
}
/* line 1052, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row.rights .rights_container .footer_column_link {
  margin: 0 5px;
  cursor: pointer;
}
/* line 1056, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row.rights .rights_container .footer_column_separator {
  margin: 0;
}
/* line 1059, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row.rights .rights_container .footer_column_title {
  margin: 0 20px;
}
/* line 1064, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row .footer_title {
  display: block;
  position: relative;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}
/* line 1072, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row .footer_social_networks {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 40px;
}
/* line 1078, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row .footer_social_networks .footer_social_network {
  display: block;
  position: relative;
  float: left;
  margin: 0 30px;
  cursor: pointer;
}
/* line 1086, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row .footer_column {
  display: block;
  position: relative;
  float: left;
  margin: 30px;
}
/* line 1091, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row .footer_column.email {
  display: block;
  position: relative;
}
/* line 1095, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row .footer_column.phone {
  display: block;
  position: relative;
}
/* line 1100, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row .footer_column_title {
  display: block;
  position: relative;
}
/* line 1105, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row .footer_column_links {
  display: block;
  position: relative;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
}
/* line 1111, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row .footer_column_link {
  display: block;
  position: relative;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: lighter;
}
/* line 1119, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row .footer_email {
  display: block;
  position: relative;
  float: left;
}
/* line 1124, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row .footer_column_email {
  display: block;
  position: relative;
  float: left;
  margin: 0 10px;
  font-size: 18px;
}
/* line 1131, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row .footer_phone {
  display: block;
  position: relative;
  float: left;
}
/* line 1136, ../sass/main.scss */
.footer_wrapper .footer_container .footer_content .footer_row .footer_column_phone {
  display: block;
  position: relative;
  position: relative;
  float: left;
  margin: 0 10px;
  font-size: 18px;
}
