@charset "UTF-8";
/* Hide some Drupal elements */
/* Error / Warning messages */
/* line 5, ../sass/main.scss */
#messages {
  display: none !important;
}

/* Content types tabs */
/* line 9, ../sass/main.scss */
.tabs {
  display: none !important;
}

/* Create Artículo */
/* line 13, ../sass/main.scss */
.text-summary-wrapper.text-summary-wrapper-processed {
  display: none !important;
}

/* line 17, ../sass/main.scss */
#page, #main-wrapper {
  background: #fff !important;
}

/* line 21, ../sass/main.scss */
#header {
  display: block;
  position: relative;
  background-color: #fff !important;
  text-align: center;
}

/* line 28, ../sass/main.scss */
#name-and-slogan {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 33, ../sass/main.scss */
#name-and-slogan #site-name strong a span {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica !important;
  font-weight: bold;
  font-style: normal;
  font-size: 54px;
  color: #00694c !important;
}
/* line 42, ../sass/main.scss */
#name-and-slogan #site-slogan {
  margin: 18px 0 -15px;
  font-family: Lato, Helvetica !important;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #666a69;
}
/* line 50, ../sass/main.scss */
#name-and-slogan #site-description {
  margin: -15px 0 18px;
  padding: 0;
  float: right;
  font-family: Lato, Helvetica !important;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  color: #666a69;
  text-transform: uppercase;
}

/* line 64, ../sass/main.scss */
#nav-bar {
  display: block;
  position: relative;
  background-color: #00694c;
  width: 100%;
  height: 65px;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* line 75, ../sass/main.scss */
#main-menu {
  display: inline-block;
  position: relative;
  width: auto;
  margin: 0;
  padding: 0;
}

/* line 83, ../sass/main.scss */
.social-networks {
  display: inline-block;
  position: absolute;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  right: 25px;
  top: 80px;
}
/* line 92, ../sass/main.scss */
.social-networks .social-network {
  display: block;
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  margin: 8px;
  padding: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
/* line 104, ../sass/main.scss */
.social-networks .social-network.facebook {
  background-image: url("../../images/facebook.png");
}
/* line 107, ../sass/main.scss */
.social-networks .social-network.twitter {
  background-image: url("../../images/twitter.png");
}
/* line 110, ../sass/main.scss */
.social-networks .social-network.youtube {
  background-image: url("../../images/youtube.png");
}

/* Menú */
/* line 118, ../sass/main.scss */
#main-menu-links li {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 121, ../sass/main.scss */
#main-menu-links li a {
  height: 57px;
  padding: 7px 15px 0;
  background-image: none;
  border-radius: 0;
  border: none;
  font-family: Lato, Helvetica;
  font-size: 20px;
  font-weight: 200;
  text-shadow: none;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 1s ease-in-out 0.5s;
  -moz-transition: all 1s ease-in-out 0.5s;
  -ms-transition: all 1s ease-in-out 0.5s;
  -o-transition: all 1s ease-in-out 0.5s;
  transition: all 1s ease-in-out 0.5s;
}

/* line 138, ../sass/main.scss */
#main-menu-links li a.active, #main-menu-links li.active-trail a {
  background: none;
  /*border-radius: 0;
  border-top: solid 1px white;
  border-bottom: solid 1px white;*/
  background-image: url("../../images/menu-mask.png");
}

/* line 146, ../sass/main.scss */
#main-menu-links a:hover,
#main-menu-links a:focus,
#main-menu-links a.active:hover {
  background-image: url("../../images/menu-mask-hover.png");
}

/* Side Bar */
/* line 153, ../sass/main.scss */
#sidebar-first {
  display: none;
}

/* Page Content */
/* line 158, ../sass/main.scss */
#main-wrapper {
  width: 960px;
  margin: 0 auto;
}

/* line 163, ../sass/main.scss */
#main {
  height: auto;
  min-height: 225px;
  overflow: hidden;
}

/* Slider */
/* line 170, ../sass/main.scss */
.content {
  width: 960px;
}

/* line 174, ../sass/main.scss */
#block-recent-articles-slider-articles {
  width: 960px;
}

/* line 177, ../sass/main.scss */
.recent_slider, .recent_slide, .recent_slide_background {
  width: 900px;
  height: 330px;
  margin: 0 auto;
}

/* line 183, ../sass/main.scss */
.recent_slide_background {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c5c5c5;
}

/* line 191, ../sass/main.scss */
.recent_slide_info {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-image: url("../../images/menu-mask-slide.png");
}
/* line 197, ../sass/main.scss */
.recent_slide_info p {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 405px;
  font-family: Roboto, Helvetica, sans-serif;
  font-style: italic;
  color: #f4f4f4;
  text-shadow: 2px 2px 7px #000000;
  /*border: solid 1px red;*/
}

/* line 211, ../sass/main.scss */
.slide_title {
  max-height: 105px;
  margin: 115px 0 0 80px;
  font-size: 35px;
}

/* line 217, ../sass/main.scss */
.slide_description {
  max-height: 66px;
  margin: 20px 0 0 80px;
  font-size: 15px;
}

/* Sección Poderes */
/* line 225, ../sass/main.scss */
.poderes_section {
  display: block;
  position: relative;
  width: 860px;
  height: 225px;
  margin: 0 auto;
  /*border: solid;*/
}
/* line 233, ../sass/main.scss */
.poderes_section .poderes_title {
  display: block;
  position: relative;
  width: 380px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  background-color: #00694c;
  text-align: center;
}
/* line 244, ../sass/main.scss */
.poderes_section p {
  display: block;
  position: relative;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
}
/* line 253, ../sass/main.scss */
.poderes_section .poderes_container {
  display: block;
  position: relative;
  width: auto;
  height: 160px;
  margin: 25px 0 0;
  bottom: 0;
  background-color: #e5e1e1;
  overflow: hidden;
  /*border: solid 1px red;*/
}
/* line 263, ../sass/main.scss */
.poderes_section .poderes_container .poderes_content {
  display: block;
  position: relative;
  float: left;
  width: 265px;
  max-height: 145px;
  margin: 15px 10px 0;
  cursor: pointer;
}
/* line 271, ../sass/main.scss */
.poderes_section .poderes_container .poderes_content .poderes_content_title {
  display: block;
  position: relative;
  margin: 0 0 7px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #353333;
}
/* line 281, ../sass/main.scss */
.poderes_section .poderes_container .poderes_content .poderes_content_image {
  display: block;
  position: relative;
  float: left;
  width: 125px;
  height: 95px;
  margin: 0 12px 0 0;
}
/* line 289, ../sass/main.scss */
.poderes_section .poderes_container .poderes_content .poderes_content_description {
  display: block;
  position: relative;
  float: left;
  width: 125px;
  font-family: Lato;
  font-size: 13px;
  color: #353333;
  /*border: solid 1px blue;*/
}

/* Sección Regiones */
/* line 305, ../sass/main.scss */
.regiones_section {
  display: block;
  position: relative;
  width: 860px;
  height: 225px;
  margin: 30px auto 0;
  /*border: solid;*/
}
/* line 313, ../sass/main.scss */
.regiones_section .regiones_title {
  display: block;
  position: relative;
  width: 380px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  background-color: #00694c;
  text-align: center;
}
/* line 323, ../sass/main.scss */
.regiones_section p {
  display: block;
  position: relative;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
}
/* line 332, ../sass/main.scss */
.regiones_section .regiones_container {
  display: block;
  position: relative;
  width: auto;
  height: 160px;
  margin: 25px 0 0;
  bottom: 0;
  /*background-color: #e5e1e1;	    */
  /*overflow: hidden;*/
  /*border: solid 1px red;*/
}
/* line 342, ../sass/main.scss */
.regiones_section .regiones_container .regiones_content {
  display: block;
  position: relative;
  float: left;
  width: auto;
  max-height: auto;
  margin: 15px 10px 0;
  cursor: pointer;
}
/* line 350, ../sass/main.scss */
.regiones_section .regiones_container .regiones_content .regiones_content_title {
  display: block;
  position: relative;
  margin: 0 0 7px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #353333;
}
/* line 360, ../sass/main.scss */
.regiones_section .regiones_container .regiones_content .regiones_content_image {
  display: block;
  position: relative;
  float: left;
  width: 115px;
  height: 85px;
  margin: 0 12px 0 0;
}
/* line 368, ../sass/main.scss */
.regiones_section .regiones_container .regiones_content .regiones_content_description {
  display: block;
  position: relative;
  float: left;
  width: 85px;
  font-family: Lato;
  font-size: 13px;
  color: #353333;
  /*border: solid 1px blue;*/
}

/* line 382, ../sass/main.scss */
.regiones_slider, .regiones_slide {
  /* , .regiones_slide_background{ */
  width: 860px;
  height: 156px;
  margin: 0 auto;
}

/* line 389, ../sass/main.scss */
.regiones_slider .slick-prev {
  left: -25px;
  margin: -15px 0 0;
}
/* line 393, ../sass/main.scss */
.regiones_slider .regiones_slide {
  position: relative;
  width: 235px;
  height: 150px;
  background-color: #e5e1e1;
}
/* line 399, ../sass/main.scss */
.regiones_slider .slick-next {
  right: -25px;
  margin: -15px 0 0;
}

/* Sección Destacados */
/* line 407, ../sass/main.scss */
.destacados_section {
  display: block;
  position: relative;
  float: left;
  width: 410px;
  height: 470px;
  margin: 35px auto 0;
  /*background-color: gray;  */
  /*border: solid;*/
}
/* line 417, ../sass/main.scss */
.destacados_section .destacados_title {
  display: block;
  position: relative;
  width: 380px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  /*background-color: #00694c;	    */
  text-align: center;
}
/* line 427, ../sass/main.scss */
.destacados_section p {
  display: block;
  position: relative;
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #353333;
}
/* line 437, ../sass/main.scss */
.destacados_section .destacados_container {
  display: block;
  position: relative;
  width: 410px;
  height: 410px;
  margin: 20px 0 0;
  bottom: 0;
  background-color: #e5e1e1;
  /*overflow: hidden;*/
  /*border: solid 1px red;*/
}
/* line 447, ../sass/main.scss */
.destacados_section .destacados_container .destacados_content {
  display: block;
  position: relative;
  float: left;
  width: auto;
  max-height: none;
  margin: 15px 10px 0;
  cursor: pointer;
}
/* line 455, ../sass/main.scss */
.destacados_section .destacados_container .destacados_content .destacados_content_title {
  display: block;
  position: relative;
  margin: 0 0 7px 20px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
  text-align: left;
  text-transform: capitalize;
  color: #353333;
}
/* line 465, ../sass/main.scss */
.destacados_section .destacados_container .destacados_content .destacados_content_image {
  display: block;
  position: relative;
  float: left;
  width: 130px;
  height: 75px;
  margin: 0 8px 0 20px;
}
/* line 473, ../sass/main.scss */
.destacados_section .destacados_container .destacados_content .destacados_content_description {
  display: block;
  position: relative;
  float: left;
  width: 225px;
  height: 75px;
  font-family: Lato;
  font-size: 14px;
  color: #353333;
  /*border: solid 1px blue;*/
}
/* line 484, ../sass/main.scss */
.destacados_section .destacados_container .destacados_content .destacados_content_separator {
  clear: both;
  width: 60%;
  height: 0px;
  margin: 0 auto;
  padding: 10px 0 0;
  border-bottom: #bbbbbb solid 1px;
}

/* Publicidad Vertical */
/* line 498, ../sass/main.scss */
.publicidad_vertical_container {
  display: block;
  position: relative;
  float: right;
  width: 335px;
  height: 320px;
  margin: 110px 30px 0;
  padding: 30px 0;
  background-color: #ecebeb;
  text-align: center;
}
/* line 508, ../sass/main.scss */
.publicidad_vertical_container .publicidad_vertical_text {
  display: block;
  position: relative;
  width: 100%;
  margin: 125px 0 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 40px;
  color: #9f9f9f;
}

/* Twitter */
/* line 522, ../sass/main.scss */
.twitter_container {
  display: block;
  position: relative;
  clear: both;
  float: right;
  width: 335px;
  height: 320px;
  margin: 100px 30px 0;
  padding: 30px 0;
  background-color: #ecebeb;
  text-align: center;
}
/* line 533, ../sass/main.scss */
.twitter_container .twitter_text {
  display: block;
  position: relative;
  width: 100%;
  margin: 125px 0 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 40px;
  color: #9f9f9f;
}

/* Publicidad Horizontal */
/* line 546, ../sass/main.scss */
#block-publicidad-horizontal-articles {
  clear: both;
  width: 930px;
  padding: 70px 0 0;
  /*border: solid;*/
}
/* line 551, ../sass/main.scss */
#block-publicidad-horizontal-articles .content {
  width: 925px;
  margin: 0 auto;
  /*border: solid red;*/
}
/* line 555, ../sass/main.scss */
#block-publicidad-horizontal-articles .content .publicidad_horizontal_container {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  height: 115px;
  margin: 0;
  padding: 0;
  background-color: #ecebeb;
  text-align: center;
}
/* line 565, ../sass/main.scss */
#block-publicidad-horizontal-articles .content .publicidad_horizontal_container .publicidad_horizontal_text {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 30px 0 0;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 40px;
  color: #9f9f9f;
}

/* Sección Miscelaneas */
/* line 581, ../sass/main.scss */
.miscelaneas_section {
  display: block;
  position: relative;
  float: left;
  width: 410px;
  height: 450px;
  margin: 70px 0 0;
  background-color: #e5e1e1;
  /*border: solid;*/
}
/* line 591, ../sass/main.scss */
.miscelaneas_section .miscelaneas_title {
  display: block;
  position: relative;
  width: 380px;
  height: 40px;
  margin: 20px auto;
  padding: 0;
  text-align: center;
}
/* line 600, ../sass/main.scss */
.miscelaneas_section p {
  display: block;
  position: relative;
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #353333;
}
/* line 610, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container {
  display: block;
  position: relative;
  width: 410px;
  height: 368px;
  margin: 5px 0 0;
  bottom: 0;
  background-color: #e5e1e1;
  /*border: solid 1px red;*/
}
/* line 619, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content {
  display: block;
  position: relative;
  float: left;
  width: auto;
  max-height: none;
  margin: 0 10px;
  cursor: pointer;
}
/* line 627, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content .miscelaneas_content_image {
  display: block;
  position: relative;
  float: left;
  width: 150px;
  height: 110px;
  margin: 0 0 0 15px;
}
/* line 635, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content .miscelaneas_content_info {
  display: block;
  position: relative;
  float: right;
  width: 175px;
  max-height: 110px;
  margin-left: 10px;
  /*border: solid 1px red;*/
}
/* line 643, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content .miscelaneas_content_info .miscelaneas_content_title {
  display: block;
  position: relative;
  margin: 0 0 7px 10px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  color: #353333;
}
/* line 654, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content .miscelaneas_content_info .miscelaneas_content_description {
  display: block;
  position: relative;
  float: left;
  width: 225px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 14px;
  color: #353333;
  /*border: solid 1px blue;*/
}
/* line 666, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content_separator {
  clear: both;
  width: 60%;
  height: 0px;
  margin: 0 0 30px 135px;
  padding: 30px 0 0;
  border-bottom: #bbbbbb solid 1px;
}
/* line 674, ../sass/main.scss */
.miscelaneas_section .miscelaneas_container .miscelaneas_content_see_more {
  display: block;
  position: relative;
  clear: both;
  float: right;
  margin: -15px 45px 0 0;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #353333;
}

/* Slider Deportes*/
/* line 691, ../sass/main.scss */
#block-deportes-section-articles {
  clear: both;
  width: 930px;
  margin: 0 auto;
  padding: 70px 0 0;
}
/* line 696, ../sass/main.scss */
#block-deportes-section-articles .content {
  width: 930px;
}

/* line 700, ../sass/main.scss */
.deportes_slider, .deportes_slide, .deportes_slide_background {
  width: 850px;
  height: 330px;
  margin: 0 auto;
}

/* line 706, ../sass/main.scss */
.deportes_slide_background {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c5c5c5;
}

/* line 715, ../sass/main.scss */
.deportes_slider .slick-prev {
  left: -35px;
}
/* line 718, ../sass/main.scss */
.deportes_slider .slick-next {
  right: -35px;
}

/* line 723, ../sass/main.scss */
.deportes_slide_info {
  position: absolute;
  width: 100%;
  height: 28%;
  bottom: 0;
  background-image: url("../../images/menu-mask.png");
}
/* line 729, ../sass/main.scss */
.deportes_slide_info p {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  font-family: Roboto, Helvetica, sans-serif;
  font-style: italic;
  color: #f4f4f4;
  text-shadow: 2px 2px 7px #000000;
  /*border: solid 1px red;*/
}

/* line 743, ../sass/main.scss */
.deportes_slide_title {
  float: right;
  width: 100%;
  max-width: 800px;
  max-height: 50px;
  margin: -25px 50px 0 0;
  font-size: 32px;
  text-align: right;
}

/* line 753, ../sass/main.scss */
.deportes_slide_description {
  clear: both;
  width: 100%;
  max-width: 850px;
  max-height: 50px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  text-align: center;
}
